p {
    background-color: yellow;
    background-color: aqua;
    background-color: chartreuse;
    background-color: burlywood;
    background-color: crimson;
    background-color: darkorchid;
    background-color: dimgray;
    background-color: lightcoral;
    background-color: lightcyan;
    background-color: navy;

}

